h1 {
    font-size: 3.4em;
    background-color: beige;
    margin: 0px;
}
.total {
    background-color: aquamarine;
}

li {
    font-size: 3em;
}

.macan {
    background-color: firebrick;
}

.banana {
    background-color: darkkhaki;
}

.manga {
    background-color: coral;
}


